<!--記得註釋-->
<!DOCTYPE html>
<html>

<head>
    <title>跨站登入頁</title>
</head>


<body style="background-color:#E0E0E0">

    <!-- <div id="main_1">
        <div id="circle">
            <div id="circle_number">
                {{name}}
            </div>
        </div>
        <form action='/{{name}}' method='POST'>
            <button type='submit'>Click</button>
        </form>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script> -->


    <a href="/1">食譜1</a>
    <a href="/2">食譜2</a>


</body>

</html>